Sphinx==1.4.5
# hg+https://bitbucket.org/birkenfeld/sphinx#egg=sphinx
# albo: pip install sphinx
# sphinx_rtd_theme
# pip ma problem z instalacja pod windows, trzeba znalezc obejscie
# pygame
turtle
Flask
Flask-SQLAlchemy
SQLAlchemy
django
# Instalacja matplotlib z requirements nie dziala
# matplotlib
peewee
